# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
doc = ET.parse( './data/mondial_database.xml' )

### 1. Find 10 countries with the lowest infant mortality rates

In [6]:
# Create empty list to hold countries and their infant mortality rates
ifm=[]

# Iterate over country and add each country's infant mortality (if it exists in the document) and add it to the list
for country in doc.iter('country'):
    if country.find('infant_mortality') is not None:
        ifm.append([country.find('name').text, country.find('infant_mortality').text])

In [7]:
import pandas as pd

# Convert list to dataframe
ifm_df=pd.DataFrame(ifm)
ifm_df.columns=['country', 'infant_mortality']

# Make sure the values for infant mortality rates are being read as numbers and sort for lowest infant mortality rate
ifm_df.infant_mortality=pd.to_numeric(ifm_df.infant_mortality,errors='coerce')
ifm_df.sort_values(by='infant_mortality',ascending=True).head(10)
ifm_df.sort_values('infant_mortality').head(10)

            country  infant_mortality
36           Monaco              1.81
90            Japan              2.13
109         Bermuda              2.48
34           Norway              2.48
98        Singapore              2.53
35           Sweden              2.60
8    Czech Republic              2.63
72        Hong Kong              2.73
73            Macao              3.13
39          Iceland              3.15

### 2. Find 10 cities with the largest populations

In [8]:
# Create an empty dataframe with columns for each city, its country name, population, and the year in which the
# population was recorded
pops_df = pd.DataFrame(columns=['city', 'country', 'population','year'])

# Iterate over each city in the document and for each city, create a dictionary that holds the year as the key and the
# population as a value
for city in doc.iter('city'):
    pops={}
    year=0
    country=city.get('country')
# Because some cities have several entries listed for populations that were measured in different years, find all population
# entries for a given city. Set the dictionary's key as the year and the value as the actual population.
    for population in city.findall('population'):
        pops[population.get('year')]=population.text
# If a given city has several entries for its population, set the key in its dictionary to the most recent year and
# set the value to the population corresponding to the most recent year.
    if len(pops)!=0:
        most_recent_year=max(pops.keys())
        most_recent_pop=pops[most_recent_year]
    df=pd.DataFrame([[city.find('name').text, country, most_recent_pop, most_recent_year]], columns=['city', 'country', 'population', 'year'])
    pops_df=pops_df.append(df)

In [9]:
# After appending the values for each city to a dataframe, coerce the population to numeric to make sure it is being read
# as a number and sort descending
pops_df.population=pd.to_numeric(pops_df.population,errors='coerce')
pops_df.sort_values(by='population', ascending=False).head(10)

        city country  population  year
0   Shanghai      CN    22315474  2010
0   Istanbul      TR    13710512  2012
0     Mumbai     IND    12442373  2011
0     Moskva       R    11979529  2013
0    Beijing      CN    11716620  2010
0  São Paulo      BR    11152344  2010
0    Tianjin      CN    11090314  2010
0  Guangzhou      CN    11071424  2010
0      Delhi     IND    11034555  2011
0   Shenzhen      CN    10358381  2010

### 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [10]:
# Create list to hold each country, its ethnic groups, and the percentage of the population that belongs to that group
# by iterating over the country.
ethn=[]

for country in doc.iter('country'):
    for ethnic in country.findall('ethnicgroup'):
        if ethnic.text is not None:
            ethn.append([country.find('name').text, ethnic.text, ethnic.get('percentage')])

In [11]:
# Convert list to dataframe
ethn_df=pd.DataFrame(ethn, columns=['Country', 'Ethnic Group', 'Percentage'])
ethn_df.head()

     Country Ethnic Group Percentage
0    Albania     Albanian         95
1    Albania        Greek          3
2     Greece        Greek         93
3  Macedonia   Macedonian       64.2
4  Macedonia     Albanian       25.2

In [12]:
# Similar to question #2, create an empty dataframe for the country, its population, and the year in which the population
# was measured. Next, create a loop so that each country has its own dictionary for its population and the year.
c_pop_df=pd.DataFrame(columns=['Country', 'population', 'year'])
for country in doc.iter('country'):
    cpop={}
    c_recent_yr=0
# Because some countries have several entries listed for populations that were measured in different years, find all population
# entries for each country. Set the dictionary's key as the year and the value as the actual population.       
    for population in country.findall('population'):
        cpop[population.get('year')]=population.text
# If a given country has several entries for its population, set the key in its dictionary to the most recent year and
# set the value to the population corresponding to the most recent year.    
    if len(cpop)!=0:
        c_recent_year=max(cpop.keys())
        c_most_recent_pop=cpop[c_recent_year]
    df=pd.DataFrame([[country.find('name').text, c_most_recent_pop, c_recent_year]], columns=['Country', 'population', 'year'])
    c_pop_df=c_pop_df.append(df)

c_pop_df.head()

      Country population  year
0     Albania    2800138  2011
0      Greece   10816286  2011
0   Macedonia    2059794  2011
0      Serbia    7120666  2011
0  Montenegro     620029  2011

In [13]:
# Set pandas so that all floats have 2 decimal places and scientific notation is suppressed
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Merge the 2 dataframes from above
ethn_pop=ethn_df.merge(c_pop_df, on='Country', how='left')
del ethn_pop['year']

# Coerce numerical values and convert percentages to decimals
ethn_pop.population=pd.to_numeric(ethn_pop.population,errors='coerce')
ethn_pop.percentage=pd.to_numeric(ethn_pop.Percentage,errors='coerce')
ethn_pop['Percentage'] = ethn_pop['Percentage'].astype('float')/100

# Create new column for the ethnic population for each ethnic group in each country
ethn_pop['Ethnic Population']=ethn_pop.Percentage*ethn_pop.population
ethn_pop.head()

     Country Ethnic Group  Percentage  population  Ethnic Population
0    Albania     Albanian        0.95     2800138         2660131.10
1    Albania        Greek        0.03     2800138           84004.14
2     Greece        Greek        0.93    10816286        10059145.98
3  Macedonia   Macedonian        0.64     2059794         1322387.75
4  Macedonia     Albanian        0.25     2059794          519068.09

In [14]:
# Create a copy of the dataframe above and delete all columns so that all that remains are the ethnic groups and their
# ethnic populations
ethn_pop2=ethn_pop.copy()
ethn_pop2.drop(ethn_pop2.columns[[0,2,3]], axis=1, inplace=True)

# Create a pivot table with the ethnic group as the index and sort values by the ethnic population in descending order
ethn_pop3=pd.pivot_table(ethn_pop2,index=["Ethnic Group"])
ethn_pop3.sort_values(by='Ethnic Population', ascending=False,inplace=True)
ethn_pop3.head(10)

                      Ethnic Population
Ethnic Group
Han Chinese               1245058800.00
Indo-Aryan                 871815583.44
Dravidian                  302713744.25
Bengali                    146776916.72
Japanese                   126534212.00
Eastern Hamitic             82830376.53
Viet/Kinh                   76078375.30
Javanese                    56769438.36
English                     53592326.74
Mediterranean Nordic        46815916.00

### 4. Name and country of:
#### a.) longest river

In [15]:
# Set country name and river name to none and the length to 0 
country_=None
river_name=None
length_=0

# Iterate over each element'river' in the document and its length. Create an algorithm so that if the length above
# is less than the length of a given river, it will be replaced with the new, longer river, and the 
# name and country in which the river is located are updated as well.
for river in doc.iterfind('river'):
    for length in river.iterfind('length'):
        if length_<float(length.text):
            length_=float(length.text)
            river_name=river.find('name').text
            country_=river.attrib['country']

print('Longest river: ', river_name)
print('Length (KM): ', length_)
print('Countries: ', country_)

Longest river:  Amazonas
Length (KM):  6448.0
Countries:  CO BR PE

####  b.) largest lake

In [16]:
country_l=None
lake_name=None
area_=0

for lake in doc.iterfind('lake'):
    for area in lake.iterfind('area'):
        if area_<float(area.text):
            area_=float(area.text)
            lake_name=lake.find('name').text
            country_l=lake.attrib['country']

print('Largest lake: ', lake_name)
print('Area (m^2): ', area_)
print('Countries: ', country_l)

Largest lake:  Caspian Sea
Area (m^2):  386400.0
Countries:  R AZ KAZ IR TM

#### c.) airport at highest elevation

In [17]:
country_a=None
ap_name=None
elev_=0

for airport in doc.iterfind('airport'):
    for elevation in airport.iterfind('elevation'):
        if (elevation.text is not None) and (elev_<float(elevation.text)):
            elev_=float(elevation.text)
            ap_name=airport.find('name').text
            country_a=airport.attrib['country']

print('Airport at highest elevation: ', ap_name)
print('Elevation (KM): ', elev_)
print('Country: ', country_a)

Airport at highest elevation:  El Alto Intl
Elevation (KM):  4063.0
Country:  BOL