### Number of Citi Bike Trips by Age Range and Gender

#### Create one CSV with the sum of bike trips per age range and gender from each of the 40+ Citi Bike data files

In [ ]:
import csv
from csv import reader
from csv import writer
from collections import Counter
import glob
import collections
import re

pi="/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CitiBike_Data/"

people_all=[]

for file in glob.glob(pi+"*.csv"):
    path_i=file
    
    csv_=reader(open(path_i, "r"), delimiter=",")

    num=re.findall(r'\b\d+\b', file)

    people=[]

    # Skip the header
    next(csv_)

    for row in csv_:
        people.append((row[14], row[13], num[0], num[1]))        

    count=collections.Counter(people)
    
    x=count.items()
    
    people_unnested=[(a,b,c,d,e) for ((a, b, c, d),e) in x]
    
    people_all.append(people_unnested)

    with open("/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CB_real_metrics/PeopleGenderAge.csv", "w") as out:
        csv_out=csv.writer(out, delimiter=',')
        
        fieldnames=['Gender','Birth Year', 'Year', 'Month', 'Number of Trips']
        
        csv_out.writerow(fieldnames)
    
        for row in people_all:
            csv_out.writerows(row)

#### Data Cleaning: Drop unprovided birth years and extreme outliers ( <1920)

In [1]:
import numpy as np
import pandas as pd

# Null values written as "/N" -- replace with nulls
peopledf=pd.read_csv("/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CB_real_metrics/PeopleGenderAge.csv", na_values=[r'\N'])

# Replace Gender w/ 'Unknown, Male, Female' vs. '0, 1, 2'
peopledf.Gender=peopledf.Gender.replace(0, 'Unknown')
peopledf.Gender=peopledf.Gender.replace(1, 'Male')
peopledf.Gender=peopledf.Gender.replace(2, 'Female')

# Replace birth years < 1920 with nulls (see notebook "Identifying Outliers in Age Range" for reference)
peopledf.ix[peopledf['Birth Year'] < 1920, 'Birth Year'] = np.nan

# Drop rows with nulls (missing birth years and those < 1920)
peopledf=peopledf.dropna()

# Add column for actual age for each user
peopledf['Age']=2016-peopledf['Birth Year']
peopledf.head()

   Gender  Birth Year  Year  Month  Number of Trips   Age
0  Female      1944.0  2013      7              100  72.0
1    Male      1921.0  2013      7               25  95.0
2    Male      1987.0  2013      7            17294  29.0
3  Female      1965.0  2013      7             2643  51.0
4    Male      1946.0  2013      7              976  70.0

#### Data Wrangling: Change birth years to age ranges so plot is less cluttered

In [2]:
# Create bins for age ranges based
bins=[]
for number in range(15, 120, 5):
   bins.append(number)

# Add age ranges column to dataframe
peopledf['Age Ranges']=pd.cut(peopledf['Age'], precision=0, bins=bins)
peopledf.sort_values('Age Ranges')
peopledf.head()

   Gender  Birth Year  Year  Month  Number of Trips   Age Age Ranges
0  Female      1944.0  2013      7              100  72.0   (70, 75]
1    Male      1921.0  2013      7               25  95.0   (90, 95]
2    Male      1987.0  2013      7            17294  29.0   (25, 30]
3  Female      1965.0  2013      7             2643  51.0   (50, 55]
4    Male      1946.0  2013      7              976  70.0   (65, 70]

In [3]:
# Checking for nulls in age range column
x=peopledf['Age Ranges'].isnull()
np.sum(x)

0

In [4]:
# Change age ranges to intervals that will be easier to understand in a plot
unique_ranges=peopledf['Age Ranges'].unique()
from collections import defaultdict
x=defaultdict(str)

for line in unique_ranges:
    if int(line[2]) % 2 ==0:
        z=line[1]+'1'
    else:
        z=line[1]+'6'
    
    d=line[5:7]
    result=z+'-'+d
    x[line]=result
    x['(95, 100]']='96-100'

peopledf['Age Range']=peopledf['Age Ranges'].map(x)
peopledf['Age Range'].unique()

array(['71-75', '91-95', '26-30', '51-55', '66-70', '61-65', '81-85',
       '76-80', '31-35', '46-50', '56-60', '41-45', '86-90', '36-40',
       '21-25', '96-100', '16-20'], dtype=object)

In [5]:
# Update dataframe to reflect new intervals
peopledf['Age Range']=peopledf['Age Ranges'].map(x)
peopledf.head()

   Gender  Birth Year  Year  Month  Number of Trips   Age Age Ranges Age Range
0  Female      1944.0  2013      7              100  72.0   (70, 75]     71-75
1    Male      1921.0  2013      7               25  95.0   (90, 95]     91-95
2    Male      1987.0  2013      7            17294  29.0   (25, 30]     26-30
3  Female      1965.0  2013      7             2643  51.0   (50, 55]     51-55
4    Male      1946.0  2013      7              976  70.0   (65, 70]     66-70

#### Create an interactive point plot with ipywidget and Seaborn to examine the number of trips per age group

In [6]:
from ipywidgets import interact, Layout
from ipywidgets.widgets import SelectMultiple
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import textwrap

# Create dictionary for new column in dataframe with the actual month name
months_name={}
months_name[1]='January'
months_name[2]="February"
months_name[3]= "March"
months_name[4]="April"
months_name[5]="May"
months_name[6]="June"
months_name[7]="July"
months_name[8]="August"
months_name[9]="September"
months_name[10]="October"
months_name[11]="November"
months_name[12]="December"

df=peopledf.copy()
df['Month Name']=df["Month"].map(months_name)

# Create lists of unique values for months and years for widget
months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
years=sorted(df['Year'].unique().tolist())

# Define function for interactive widget
def make_plot(Months, Years):
    x=list(Months)
    z=list(Years)
    try:
        gooddata=df.loc[(df['Month Name'].isin(x)) & df['Year'].isin(z)].sort_values(by='Age Range')
        sns.set_style("whitegrid")
        plt.rcParams['figure.figsize']=(10,10)
        pal={'Female': "#f9a65a", 'Male': "#9e66ab", 'Unknown':"#af2b30"}
        plot=sns.pointplot('Age Range', 'Number of Trips', estimator=sum, data=gooddata, ci=None, color="#af2b30")
        title=plt.title("Number of Trips per Age Range", fontsize=16, fontweight="bold")
        title.set_position([.5, 1.05])
        plt.ylabel('Number of Trips')
        for item in plot.get_xticklabels():
            item.set_rotation(35)
        for tick in plot.xaxis.get_major_ticks():
                    tick.label.set_fontsize(10)
        for tick in plot.yaxis.get_major_ticks():
                    tick.label.set_fontsize(12)
        plot.yaxis.label.set_size(14)
        plot.xaxis.label.set_size(14)
        plot.xaxis.labelpad = 20
        plot.yaxis.labelpad = 20
        plot.get_yaxis().set_major_formatter(matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ',')))
        plt.show()
    
    except ValueError:
            text="This dataset spans from July 2013 (Citi Bike's opening to the public) to December 2016. Please make another selection and try again." 
            print(textwrap.fill(text, 100))
            
interact(make_plot, Months=SelectMultiple(options=months, value=['July']), Years=SelectMultiple(options=years, value=[2013]))

#### Create an interactive bar plot with ipywidget and Seaborn to compare the number of trips based off age groups & gender

In [7]:
from ipywidgets import interact, Layout
from ipywidgets.widgets import SelectMultiple
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import textwrap

# Create dictionary for new column in dataframe with the actual month name
months_name={}
months_name[1]='January'
months_name[2]="February"
months_name[3]= "March"
months_name[4]="April"
months_name[5]="May"
months_name[6]="June"
months_name[7]="July"
months_name[8]="August"
months_name[9]="September"
months_name[10]="October"
months_name[11]="November"
months_name[12]="December"

df=peopledf.copy()
df['Month Name']=df["Month"].map(months_name)

# Create lists of unique values for months and years for widget
months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
years=sorted(df['Year'].unique().tolist())

# Define function for interactive widget
def make_plot2(Months, Years):
    x=list(Months)
    z=list(Years)
    try:
        gooddata=df.loc[(df['Month Name'].isin(x)) & df['Year'].isin(z)].sort_values(by='Age Range')
        sns.set_style("whitegrid")
        plt.rcParams['figure.figsize']=(10,8)
        pal={'Female': "#f9a65a", 'Male': "#9e66ab", 'Unknown':"#af2b30"}
        plot=sns.barplot('Age Range', 'Number of Trips', hue='Gender', estimator=sum, data=gooddata, ci=None, palette=pal)
        title=plt.title("Number of Trips per Age Range, Grouped by Gender", fontsize=16, fontweight="bold")
        title.set_position([.5, 1.05])
        plt.ylabel('Number of Trips')
        plt.legend(loc=1)
        for item in plot.get_xticklabels():
            item.set_rotation(40)
        for tick in plot.xaxis.get_major_ticks():
                    tick.label.set_fontsize(12)
        for tick in plot.yaxis.get_major_ticks():
                    tick.label.set_fontsize(12)
        plot.yaxis.label.set_size(14)
        plot.xaxis.label.set_size(14)
        plot.xaxis.labelpad = 20
        plot.yaxis.labelpad = 20
        plot.get_yaxis().set_major_formatter(matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ',')))
        plt.show()
    
    except ValueError:
            text="This dataset spans from July 2013 (Citi Bike's opening to the public) to December 2016. Please make another selection and try again." 
            print(textwrap.fill(text, 100))
            
interact(make_plot2, Months=SelectMultiple(options=months, value=['July']), Years=SelectMultiple(options=years, value=[2013]))